<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>二维码服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-2267767860475779"
         data-ad-slot="6708811871"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div>
    <a href="<%= imageBase64 %>">URL</a>
</div>
<div>
    <img src="<%= imageBase64 %>" alt="">
</div>
</body>
</html>
